* @TarunBatchu-ops @25TLi

/.github/ @TarunBatchu-ops @25TLi
/background.js @TarunBatchu-ops @25TLi
/lib/ @TarunBatchu-ops @25TLi
/manifest.json @TarunBatchu-ops @25TLi
/server/ @TarunBatchu-ops @25TLi
/supabase/ @TarunBatchu-ops @25TLi
